/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 50px;
}

ul.navbar-nav, .jumbotron h1 {
	font-family: 'Arvo', serif;
}

ul.navbar-nav {
	font-size: 15px;
}

#get-involved {
	background-color: #f5f5f5;
}

footer {
	background-color: #e74c3c;
	padding-top: 50px;
	padding-bottom: 30px;
}


.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron {
	text-align: center; 
	background-image: url('../images/Hero-Image.jpg');
	color: white;
}

.btn-lg {
	font-size: 36px; 
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding : 0 50px;
}

.homepage {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.homepage h2, .homepage h3 {
	font-family: 'Arvo', courier, serif;
	color: #e74c3c;
	text-transform: uppercase;
}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
font-size: 26px;
}

.homepage p {
font-size: 21px;
font-weight: 300;
}

.homepage a {
color: #e74c3c;
}

.container p{
	text-align: center;
}

.homepage hr {
	border-top: 1px solid #e74c3c;
	width: 150px;
	margin-top: 15px;
}

.homepage img {
	padding-bottom: 10px;
}

.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: .8;
}

.homepage {
text-align: center;
padding-bottom: 50px;
padding-top: 40px
}

/* Responsive Styling */
@media (max-width: 1199px) {
.jumbotron h1 {
font-size: 56px;
padding: 30px;
}
}
@media (max-width: 991px) {
.jumbotron h1 {
font-size: 44px;
}
.jumbotron p {
padding: 0 10px;
}
#get-involved .col-md-4 {
padding-top: 20px;
padding-bottom: 20px;
}
}
@media (max-width: 767px) {
.jumbotron h1 {
font-size: 24px;
}
.jumbotron p {
font-size: 16px;
padding: 0;
}
.btn-lg {
font-size: 18px;
}
.homepage p {
font-size: 18px;
}
footer img {
width: 80%;
}